@media only screen and (max-width: 767px) {

.card{
    width: 80%;
    height: auto;
    display: inline-block;
    background-color: #f8d7d7;
    color: #c2ecf7;
    text-align: left;
    padding: 5px;
    box-sizing: border-box;
    margin: 10px 20px;
    font-family: 'Times New Roman', Times, serif;
    border: 2px ridge #344716;
    border-radius: 10px;
}

.checkedCard{
    width: 200px;
    height: 300px;
    display: inline-block;
    background-color: #f8d7d7;
    color: #c2ecf7;
    padding: 5px;
    box-sizing: border-box;
    margin: 10px 20px;
    font-family: 'Times New Roman', Times, serif;
    border: 2px ridge red;
    border-radius: 10px;

}

.CardTitle{
    overflow-x: auto;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 5px;
    color: #344716;
    background-color: #f8d7d7;
    font-size: 20px;
}

.card p{
    display: inline-block;
    background-color: #f8d7d7;
    text-decoration: underline;
    font-style: italic;
    font-weight: bolder;
    padding: 3px 1px;
    box-sizing: border-box;
}

.items > *, .items{
    margin-bottom: 5px;
    background-color: #f8d7d7;
    color: #344716;
    border: none;
    border-radius: 5px;
}

.btn{
    display: flex;
    justify-content: space-around;
    background-color: #f8d7d7;
}

.cardBtn{
    width: 80px;
    background-color: #4b6531;
    color: #dfda97;
    border: 1px solid #dfda97;
    border-radius: 5px;
    padding: 2px 5px;
}

.describe{
    height: 50px;
    overflow: auto;
    padding: 2px 4px;
    background-color: #f8d7d7;
    border: 1px solid #344716;
}

.cardCheckbox{
    width: 20px;
    height: 20px;
    accent-color: #344716; 
}


}

@media only screen and (min-width: 768px ) {
.card{
    width: 250px;
    height: auto;
    background-color: #f8d7d7;
    color: #344716;
    padding: 10px;
    box-sizing: border-box;
    margin: 10px 30px;
    font-family: 'Times New Roman', Times, serif;
    border: 2px ridge #344716;
    border-radius: 10px;
}

.checkedCard{
    width: 250px;
    height: auto;
    background-color: #f8d7d7;
    color: #344716;
    padding: 10px;
    box-sizing: border-box;
    margin: 10px 30px;
    font-family: 'Times New Roman', Times, serif;
    border: 2px ridge red;
    border-radius: 10px;
}

.CardTitle{
    overflow-x: auto;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 15px;
    color: #344716;
    background-color: #f8d7d7;
}

p{
    display: inline-block;
    background-color: #f8d7d7;
    text-decoration: underline;
    font-style: italic;
    font-weight: bolder;
    padding: 3px 1px;
    box-sizing: border-box;
}

.items > *, .items{
    margin-bottom: 8px;
    background-color: #f8d7d7;
    color: #344716;
    border: none;
    border-radius: 5px;
}

.btn{
    display: flex;
    justify-content: space-around;
    background-color: #f8d7d7;
}

.cardBtn{
    width: 100px;
    background-color: #4b6531;
    color: #dfda97;
    border: 1px solid #dfda97;
    border-radius: 10px;
    padding: 4px 8px;
}

.describe{
    height: 80px;
    overflow: auto;
    padding: 3px 6px;
    background-color: #f8d7d7;
    border: 1px solid #344716;
}

.cardCheckbox{
    width: 20px;
    height: 20px;
    accent-color: #344716; 
}

}

@media only screen and (min-width: 1024px ) {
.card{
    width: 300px;
    height: 490px;
    display: inline-block;
    background-color: #f8d7d7;
    color: #344716;
    padding: 10px;
    box-sizing: border-box;
    margin: 10px 50px;
    font-family: 'Times New Roman', Times, serif;
    border: 2px ridge #344716;
    border-radius: 10px;
}

.checkedCard{
    width: 300px;
    height: 490px;
    display: inline-block;
    background-color: #f8d7d7;
    color: #344716;
    padding: 10px;
    box-sizing: border-box;
    margin: 10px 50px;
    font-family: 'Times New Roman', Times, serif;
    border: 2px ridge red;
    border-radius: 10px;

}

.CardTitle{
    overflow-x: auto;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 20px;
    color: #344716;
    background-color: #f8d7d7;
}

p{
    display: inline-block;
    background-color: #f8d7d7;
    text-decoration: underline;
    font-style: italic;
    font-weight: bolder;
    padding: 3px 1px;
    box-sizing: border-box;
}

.items > *, .items{
    margin-bottom: 10px;
    background-color: #f8d7d7;
    color: #344716;
    border: none;
    border-radius: 5px;
}

.btn{
    display: flex;
    justify-content: space-around;
    background-color: #f8d7d7;
}

.cardBtn{
    width: 100px;
    background-color: #4b6531;
    color: #dfda97;
    border: 1px solid #dfda97;
    border-radius: 10px;
    padding: 5px 10px;
}

.describe{
    height: 100px;
    overflow: auto;
    padding: 3px 6px;
    background-color: #f8d7d7;
    border: 1px solid #344716;
}

.cardCheckbox{
    width: 20px;
    height: 20px;
    accent-color: #344716; 
}

}