section{
    background-image: url(../../images/home.jpg);
    background-position: center;
    background-size: cover;
}

.home{
    margin: 0 auto;
    padding: 20% 0;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

p{
    background-color: transparent;
    text-decoration: none;
}