body{
    background-color: #7f6f65;
}

.navigation{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #f8d7d7;
    height: 50px;
}

.menu{
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: #f8d7d7;
}

a{
    padding: 10px;
    margin: 10px;
    width: 170px;
    color: #344716 !important;
    text-decoration: none !important;
    text-align: center;
    font-size: 20px;
}
